{% extends 'base.html.twig' %}

{% block title %}Edit Realisteurs{% endblock %}

{% block body %}
    <h1>Edit Realisteurs</h1>

    {{ include('realisteurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_realisteurs_index') }}">back to list</a>

    {{ include('realisteurs/_delete_form.html.twig') }}
{% endblock %}
