{% extends 'base.html.twig' %}

{% block title %}New Realisteurs{% endblock %}

{% block body %}
    <h1>Create new Realisteurs</h1>

    {{ include('realisteurs/_form.html.twig') }}

    <a href="{{ path('app_realisteurs_index') }}">back to list</a>
{% endblock %}
